$BAR_PADDING_TOP: 10px;
$BAR_PADDING_BOTTOM: 10px;
$BAR_HEIGHT: $BAR_PADDING_TOP + $BAR_PADDING_BOTTOM;

.slider {
  position: relative;
  display: inline-block;
  padding-top: $BAR_PADDING_TOP;
  padding-bottom: $BAR_PADDING_BOTTOM;
  max-width: 500px;
  width: 100%;
  background-color: #777;
}

.slider-fill {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: red;
  height: 100%;
}

.slider-button {
  position: absolute;
  top: 0;
  width: $BAR_HEIGHT;
  height: $BAR_HEIGHT;
  border-radius: 50%;
  background-color: blue;
  transform: scale(1.2) translateX(-45%);
  user-select: none;
  cursor: pointer;
}

.slider-label {
  position: absolute;
  bottom: -20px;
  display: inline-block;
  width: 100%;
}

.slider-label-item {
  position: absolute;
  transform: translateX(-66%);

  &.twenty-five {
    left: 25%;
  }

  &.fifty {
    left: 50%;
  }

  &.seventy-five {
    left: 75%;
  }

  &.one-hundred {
    left: 100%;
  }
}
